body {
	font-family: sans-serif;
	font-size: 9pt;
	background: grey;
}

table {
	width: 100%;
	align: centre;
}
 td {
	border: 1px solid black;
	font-size: 9pt;
	<!--
	border-collapse: collapse;
	-->
}
 tr,td{
 padding: 10px;
 }
th {
padding:10px;
	background-color: #a70000;
	color: white;
}
tr:nth-child(even) {
	background-color: #e8e8e8;
}
tr:nth-child(odd) {
	background-color: white;
}
td:nth-child(2) {
	font-weight:bold;
}